* {
	margin: 0;
        padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
/*	background-image: linear-gradient(to bottom right, teal, aqua); */
	background: darkslategrey;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


body { 
	font: sans-serif;
	color: white; 
}

.page { 
	max-width: 900px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	top-margin: 20px;
	height: auto;
	flex-wrap: wrap;
	overflow: hidden;
}



.navbar { 
	display: flex;
	justify-content: right;
	align-items: center;
	overflow: hidden;
	margin-left: 15px;
}

.navbar a {
	display: flex;
	color: white;
	font-size: 110%;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	margin: 5px;
	margin-bottom: 0px;
	border-radius: 5px;
}

.navbar a:hover {
	background-color: #88c0d0;
	color: #434c5e;
}


.content { 

	font-color: white;
	margin-right: 15px;
}

h1 {
	color: white;
	margin-top: 15px;
	margin-left: 10px;
}

h2 {
	font-weight: bold;
	color: white;
	margin-left: 10px;
	margin-top: 25px;
	margin-bottom: 1px;
	padding-bottom: 1px;
}

h3 {
	font-weight: bold;
	color: white;
	margin: 7px 0px;
	margin-left: 10px;

}

h4 { 
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;

}

hr {
	margin: 15px 0px;

	color: teal;
}

em {
	font-size: 10pt;
}

ul { 
	padding-top: 10px;
}

li {
	margin-left: 30px;
	margin-top: 5;
}

p { 
	margin-top: 15px;
	margin-left: 15px;
}

.footer {
	height: 70px;
	width: page;
	max-width: page;
	text-align: center;
}


.title {
	font-size: 125%;
	margin-left: 10px;
}


